.center {
    margin-left: auto;
    margin-right: auto; 
}

html {
    background: url(../images/main_background.png);
    background-repeat: cover;
}

html, body {
	padding: 0;
	margin: 0;
    width:100%; 
    height: 100%;
}

body {
	background-color: transparent;
	position: relative;
}

#main_container {
	background: url(../images/center_background.png);
    background-size: 100% 100%;
    height: 100%;
    width: 24cm;
    position: relative;
} 

#header_container {
	position: relative;
	width: 100%;
	height: 18%;
	background-color: blue;
	/* background: url(../images/header_background.png); */
	background-size: 100.45% 100%;
}

#middle_container {
	position: relative;
	height: 77%;
	width: 100%;
}

#middle_left, #middle_center, #middle_right {
	height: 100%;
}

#middle_left {
	position: relative;
	width: 22%;
	background-color: white;
}

#middle_center {
	position: absolute;
	width: 60%;
	left: 22%;
	top: 0;
	background-color: green;
}

#middle_right {
	position: absolute;
	width: 18%;
	left: 82%;
	top: 0;
	background-color: white;
}

#footer_container {
	position: relative;
	height: 5%;
	width: 100%;
	background-color: blue;
}

