.center {
    margin-left: auto;
    margin-right: auto; 
}

html {
    background: url(../images/main_background.png);
    background-size: 100% 100%;
    background-repeat: repeat-y;
    min-height: 100%;
    overflow: auto; 
}

html, body {
	padding: 0;
	margin: 0;
    width:100%; 
    height: auto;
}

body {
	min-height: 24cm;
	background-color: transparent;
	position: relative;
}

#main_container {
	background: url(../images/center_background.png), url(../images/center_background_2.png); 
    background-size: 100% auto;
    background-repeat: repeat-y;
    height: 100%;
    width: 26.22cm;
    position: relative;
} 

#header_container {
	position: relative;
	left: 0.3mm;
	top: 1mm;
	width: 100%;
	height: 52mm;
	background-color: blue;
	background: url(../images/header_background.png); 
	background-size: 100% 100%;
}

#title {
	position: absolute;
	top: 12%;
	left: 27%;
	color: #3f6ece;
	font-size: xx-large;
	font-style: oblique;
	font-family: fantasy;
}

#club_name {
	position: absolute;
	top: 45%;
	left: 39%;
	color: #3366cc;
	font-size: 52px;
	font-weight: bold;
	font-family: fantasy;
	font-style: oblique;
}

#middle_container {
	position: relative;
	height: auto;
	width: 100%;
}

#middle_left, #middle_center, #middle_right {
	vertical-align: top;
}

#middle_left {
	width: 18%;
}

#middle_center {
	width: 64%;
}

#middle_right {
	width: 19%;
}


#adv1 {
	position: relative;
	border: 4px double black; 
	top: 1mm;
	left: 2.2%;
	width: 92%;
	height: 45mm;
}

#menu {
	position: relative;
	margin-left: 4%;
	top: 4mm;	
	width: 95%;
	min-height: 49%;
	height: auto; 
	z-index: 2;

}

.menu_item_container {
	position: relative;
	width: 100%;
	height: 11.5mm;
	margin-top: 4%;
	background-color: #002d98;
	border-radius: 30px; 
}

.menu_item {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 9.2%;
	width: 97%;
	height: 82%;
	line-height: 165%;
	background: -webkit-linear-gradient(#ffffff, #d9c6d8, #b793b7, #a274a0); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#ffffff, #d9c6d8, #b793b7, #a274a0); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#ffffff, #d9c6d8, #b793b7, #a274a0); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#ffffff, #d9c6d8, #b793b7, #a274a0); /* Standard syntax */
	border-radius: 30px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	color: blue;
	font-family: "Verdana", Geneva, sans-serif;
	font-style: italic;
	font-size: large;
}

.sub_menu_item_container {
	position: absolute;
	visibility: hidden;
	width: 70%;
	height: 8.2mm;
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	background-color: #002d98;
	border-radius: 30px; 
}

.sub_menu_item {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 9.2%;
	width: 97%;
	height: 81%;
	line-height: 165%;
	background: -webkit-linear-gradient(#ffffff, #d9c6d8, #b793b7, #a274a0); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#ffffff, #d9c6d8, #b793b7, #a274a0); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#ffffff, #d9c6d8, #b793b7, #a274a0); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#ffffff, #d9c6d8, #b793b7, #a274a0); /* Standard syntax */
	border-radius: 30px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	color: blue;
	font-family: "Verdana", Geneva, sans-serif;
	font-size: middle;
}

.menu_item:HOVER, .sub_menu_item:HOVER{
	background: -webkit-linear-gradient(#a274a0, #b793b7, #d9c6d8, #ffffff); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#a274a0, #b793b7, #d9c6d8, #ffffff); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#a274a0, #b793b7, #d9c6d8, #ffffff); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#a274a0, #b793b7, #d9c6d8, #ffffff); /* Standard syntax */
  	text-decoration: underline;
}

#skater_man {
	position: absolute;
	width: 90%;
	height: 55mm;
	top: 151mm;
	right: 122mm;
	background-image: url(../images/skater_left.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
}

#content_container {
	position: relative;
	top: 1mm;
	left: 0.2%;
	width: 98%;
	height: 202mm;
	overflow: auto;
	background: rgba(255,255,255,0.7);
	padding: 2mm;
}

#calendar {
	position: relative;
	top: 0.8mm;
	left: 0.2mm;
	width: 45mm;
	height: 48.0mm;
}

.weekday {
	color: blue;
}
.weekend_day {
	color: #cc0000;
}

#calendar table {
	border-collapse: collapse;
	font-size: 14px;
	font-family: monospace;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
}

#calendar table th {
	background-color: #bb252d;
	color: white;
	height: 10mm;
	border: 1px black solid;
	font-family: sans-serif;
	position: relative;
}

#calendar_button_backward, #calendar_button_forward{
	width: 0;
	height: 0;
	position: absolute;
	display: block;
	top: 3.5mm;
	border-bottom: 1.5mm solid transparent;
    border-top: 1.5mm solid transparent;
}

#calendar_button_backward {
	left: 0.5mm;
    border-right: 3.5mm solid white;
}

#calendar_button_forward {
	left: 38mm;
    border-left: 3.5mm solid white;
}

#calendar table td {
	border-bottom: 1px black solid;
	border-right: 1px black solid;
	width: 5.2mm;
	height: 5.2mm;
	background-color: white;
}

#calendar table tr:nth-child(2) td {
	background-color: #d3d7cf;
	font-style: italic;
}

#calendar table tr td:FIRST-CHILD {
	border-left: 1px black solid;
}

#current_calendar_day {
	border: 2px #ff7e00 solid;
}

.day_of_other_month {
	color: #b5b5b5;
}

#adv2 {
	position: relative;
	border: 4px double black; 
	top: 10mm;
	width: 90%;
	height: 40mm;
}

#skater_woman {
	position: relative;
	top: 8mm;
	width: 90%;
	height: 60mm;
	background-image: url(../images/skater_right.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
}

#adv3 {
	position: relative;
	border: 4px double black; 
	top: 6mm;
	width: 90%;
	height: 40mm; 
}

#footer_container {
	margin-top: 1mm;
	position: relative;
	height: 15mm;
	width: 100%;
	background-color: #003399;
}

