#news_pages_switch {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-bottom: 1px solid #493fbf;
	height: 8mm;
	width: 5cm;
}

#news_pages_switch a {
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	color: blue;
}

#news_pages_switch a:HOVER {
	text-decoration: underline;
}