#news_pages_switch {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-bottom: 1px solid #493fbf;
	height: 8mm;
	width: 2cm;
}

#news_pages_switch a {
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	color: blue;
}

#news_pages_switch a:HOVER {
	text-decoration: underline;
}

.date {
	margin-left: auto;
	margin-right: auto;
	border-bottom: thick solid red;
	display: table-cell;
}

.full_date {
	margin-left: auto;
	margin-right: auto;
	width: 20%;	
}

.time {
	background-color: #babdb6;
	color: #1a1a1a;
}


.news_caption {
	color: blue;
	font-style: italic;
	text-decoration: underline;
}

.news_caption a{
	color: blue;
}

.news_body {
	margin-top: 1mm;
	margin-bottom: 5mm;
}

.fake_div{
	height: 25mm;
}