#schedule {
	margin-top: 10mm;
}

#schedule table, #schedule table th, #schedule table td {
	border: 1px solid black;
}

.ice {
	color: blue;
	font-weight: 600;
}

.hall {
	color: #8f5902;
	font-weight: 600;
}

.extravaganza {
	color: #3465a4;
	font-weight: 600;
}

 