@* contacts Template File *@
@(param: Any)

@main("Контакты") {
   <h1 style="text-align: center;">
	<span style="color:#0000ff;"><strong>Контакты</strong></span></h1>
<p><span style="font-weight: bold;">Каток:</span> Крижинка (Дарница)<br />
<span style="font-weight: bold;">Адрес:&nbsp; </span>Украина, г. Киев, ул. Жмаченко, 7 (м. Дарница)<br />
<span style="font-weight: bold;">Тренер: <span style="color:#0000ff;">Коляда Ольга Владимировна</span></span><br />
<span style="font-weight: bold;">Телефоны: </span>+38 (067) 420-70-57</p>

}