@* contacts Template File *@
@(calendarMonthOffset: Int = 0)

@main("Контакты", "contacts.css", new views.utils.CalendarInfo("/contacts", calendarMonthOffset)) {
   <h1 style="text-align: center;">
	<span style="color:#0000ff;"><strong>Контакты</strong></span></h1>
<p><span style="font-weight: bold;">Каток:</span> "Крижинка" (Дарница)<br />
<span style="font-weight: bold;">Адрес:&nbsp; </span>Украина, г. Киев, ул. Генерала Жмаченко, 7 (м. Дарница)<br />
<span style="font-weight: bold;">Тренер: <span style="color:#0000ff;">Коляда Ольга Владимировна</span></span><br />
<span style="font-weight: bold;">Телефоны: </span>+38 (067) 420-70-57</p>

<h3 style="text-align: center;">
	<span style="color:#0000ff;">Каток на карте </span></h3>
<div id="map_container" class="center">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10160.132103216172!2d30.6115385935961!3d50.45910969342924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfe26329c1ff%3A0x7ae54e9101a52c46!2z0LLRg9C7LiDQk9C10L3QtdGA0LDQu9CwINCW0LzQsNGH0LXQvdC60LAsIDcsINCa0LjRl9CyLCDQvNGW0YHRgtC-INCa0LjRl9Cy!5e0!3m2!1suk!2sua!4v1424098318293" >
	</iframe>
</div>

}