@(calendarMonthOffset: Int = 0)

@main("Главная", "index.css", new views.utils.CalendarInfo("/", calendarMonthOffset)) {
	
	<div id="main_gallery">
		<img id="main_gallery_img" src="assets/photos/main_page/4.jpg" />
	</div>
	<script>
		changePhotosOnMainPage(4, true);
	</script>
	
              <p style="text-align: justify;"><span style="font-family:georgia,serif;">Приветствуем Вас на сайте клуба фигурного катания &quot;Бильман&quot;!<br />
<br />
Вы утонченная личность, которая не представляет свою жизнь без творчества? Хотите гармонично соединить высокое искусство и спорт в свое свободное время? Вы желаете разносторонне развивать личность своего ребенка? Тогда присоединяйтесь к нашим занятиям по фигурному катанию в группах взрослых и детей! Не важно, имеете ли Вы опыт в фигурном катании, мы поможем Вам освоить коньки и продолжить развивать ваши таланты!</span></p>
<p style="text-align: justify;"><br />
<span style="font-family:georgia,serif;">На нашем сайте вы найдете необходимую информацию про занятия&nbsp; в нашем клубе и полезные советы для увлеченных фигурным катанием! </span></p>



}
