@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="main_container" class="center">
        	<div id="header_container" class="center">
        	</div>
        	<div id="middle_container" class="center">
        		<div id="middle_left">
        			<div id="adv1" class="center">
        			</div>
        			<div id="menu">
        				<div class="menu_item_container">
        					<a href="/" class="menu_item">О клубе</a>
        				</div>
        				<div class="menu_item_container">
        					<a href="/news" class="menu_item">Новости</a>
        				</div>
        				<div class="menu_item_container">
        				    <a href="/schedule" class="menu_item">Расписание</a>
        				</div>
        				<div class="menu_item_container">
        					<a href="/photos" class="menu_item">Фотогалерея</a>
        				</div>
        				<div class="menu_item_container">
        					<a href="/videos" class="menu_item">Видео</a>
        				</div>
        				<div class="menu_item_container">
        					<a href="/contacts" class="menu_item">Контакты</a>
        				</div>
        				<div class="menu_item_container">
        					<a href="/forum" class="menu_item">Форум</a>
        				</div>
        			</div>
        			<div id="skater_man" class="center">
        			</div>
        		</div>
        		<div id="middle_center">
        			<div id="content_container">
        				@content
        			</div>
        		</div>
        		<div id="middle_right">
        			<div id="calendar" class="center">
        			</div>
        			<div id="adv2" class="center">
        			</div>
        			<div id="skater_woman" class="center">
        			</div>
        			<div id="adv3" class="center">
        			</div>
        		</div>
        	</div>
        	<div id="footer_container" class="center">
        	</div>
        </div>
    </body>
</html>
