@(title: String, cssFile : String = null)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        @if(cssFile != null){
        	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/" + cssFile)">
        }
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/script.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="main_container" class="center">
        	<div id="header_container" class="center">
        		<div id="title">
        			Клуб фигурного катания
        		</div>
        		<div id="club_name">
        			Б и л ь м а н
        		</div>
        	</div>
        	<table id="middle_container" class="center">
        		<tr>
        		<td id="middle_left">
        			<div id="adv1" class="center">
        			</div>
        			<div id="menu">
        				<div id="menu_item_container01" class="menu_item_container">
        					<a href="/" class="menu_item">Главная</a>
        				</div>
        				<div id="menu_item_container02" class="menu_item_container">
        					<a href="/news" class="menu_item">Новости</a>
        				</div>
        				<div id="menu_item_container03" class="menu_item_container">
        				    <a href="#" class="menu_item" onClick="javascript:movemenu('menu_item_container03');">
        				    	Расписание
        				    </a>
        				</div>
        				<div id="sub_menu_item_container03_01" class="sub_menu_item_container">
        				    <a href="/schedule" class="sub_menu_item">
        				    	Взрослые
        				    </a>
        				</div>
        				<div id="sub_menu_item_container03_02" class="sub_menu_item_container">
        				    <a href="/schedule_children" class="sub_menu_item">
        				    	Дети
        				    </a>
        				</div>
        				<div id="menu_item_container04" class="menu_item_container">
        					<a href="/photos" class="menu_item">Фотогалерея</a>
        				</div>
        				<div id="menu_item_container05" class="menu_item_container">
        					<a href="/videos" class="menu_item">Видео</a>
        				</div>
        				<div id="menu_item_container06" class="menu_item_container">
        					<a href="/contacts" class="menu_item">Контакты</a>
        				</div>
        				<div id="menu_item_container07" class="menu_item_container">
        					<a href="/forum" class="menu_item">Форум</a>
        				</div>
        			</div>
        			<div id="skater_man" class="center">
        			</div>
        		</td>
        		<td id="middle_center">
        			<div id="content_container">
        				@content
        			</div>
        		</td>
        		<td id="middle_right">
        			<div id="calendar" class="center">
        				<table>
        					<th colspan="7">
        						Март 2015
        					</th>
        					<tr>
        						<td>
        						Пн
        						</td>
        						<td>
        						Вт
        						</td>
        						<td>
        						Ср
        						</td>
        						<td>
        						Чт
        						</td>
        						<td>
        						Пт
        						</td>
        						<td>
        						Сб
        						</td>
        						<td>
        						Вс
        						</td>
        					</tr>
        					@for(i <-0 to 4){
        						<tr>
        							@for(i<-0 to 6){
        								<td>
        									28
        								</td>
        							}
        						</tr>
        					}
        				</table>
        			</div>
        			<div id="adv2" class="center">
        			</div>
        			<div id="skater_woman" class="center">
        			</div>
        			<div id="adv3" class="center">
        			</div>
        		</td>
        		</tr>
        	</table>
        	<div id="footer_container" class="center">
        	</div>
        </div>
    </body>
</html>
