@(calendarMonthOffset: Int = 0, newsBlock : Int)

@import models.NewsDescriptor
@import models.NewsUtils
@import models.NewsBlock
@import views.utils.CalendarInfo
@import views.utils.CalendarInfoNews
@import views.utils.NewsHrefUtils

@main("Новости", null, new CalendarInfoNews("/news", calendarMonthOffset, newsBlock)) {
     	@for(news <- NewsUtils.nthNews(newsBlock)){
     		<h4>@news.getDate</h4>
     		<p>@news.getBody</p>
     	}
        <div id="news_pages_switch">
            @if(newsBlock + 1 >= NewsBlock.BLOCKS_PER_PAGE){
            	<a href=@NewsHrefUtils.buildHref(calendarMonthOffset, 0)>1 </a>
            	<a id="news_page_back" href=@NewsHrefUtils.buildHrefForBackBlock(calendarMonthOffset, newsBlock)>
        			...
        		</a>
            }
            @for(i <- NewsBlock.getChunkBeg(newsBlock) to NewsBlock.getChunkEnd(newsBlock, NewsUtils.numberOfBlocks)){
        		<a href=@NewsHrefUtils.buildHref(calendarMonthOffset, i-1)>@i </a>
        	}
        	@if(newsBlock + 1  < NewsBlock.getChunkBeg(NewsUtils.numberOfBlocks - 1)){
        		<a id="news_page_next" href=@NewsHrefUtils.buildHrefForNextBlock(calendarMonthOffset, newsBlock, NewsUtils.numberOfBlocks)>
        			...
        		</a>
        		<a href=@NewsHrefUtils.buildHref(calendarMonthOffset, NewsUtils.numberOfBlocks - 1)>@NewsUtils.numberOfBlocks</a>
        	}
        </div>
}