@(calendarMonthOffset: Int = 0, newsPage : Int)

@import models.NewsDescriptor
@import models.NewsUtils
@import models.NewsBlock
@import views.utils.CalendarInfo
@import views.utils.CalendarInfoNews
@import views.utils.NewsHrefUtils

@main("Новости", "news.css", new CalendarInfoNews("/news", calendarMonthOffset, newsPage)) {
     	@for(date <- NewsUtils.nthPage(newsPage)){
     		<div class="full_date">
     			<div class="date">
     				@date.fullDate
     			</div> 
     	     </div>
     			@for(news <- date){
     				<div class="time">
     					@news.getTime
					</div>
					<div class="news_caption">
						@news.getCaption
					</div>
					<div class="news_body">
     					@news.getBody
     				</div>
     			}
     	}
     	@for(i <- 1 until NewsUtils.nthPage(newsPage).numOfFakeDiv){
     		<div class="fake_div"> </div>
     	}
        <div id="news_pages_switch">
            @if(newsPage > NewsBlock.BLOCKS_PER_PAGE){
            	<a href=@NewsHrefUtils.buildHref(calendarMonthOffset, 1)>1 </a>
            	<a id="news_page_back" href=@NewsHrefUtils.buildHrefForPrevChunk(calendarMonthOffset, newsPage)>
        			...
        		</a>
            }
            @for(i <- NewsBlock.getChunkBeg(newsPage) to NewsBlock.getChunkEnd(newsPage, NewsUtils.numberOfPages)){
        		<a href=@NewsHrefUtils.buildHref(calendarMonthOffset, i)>
        			@i 
        		</a>
        	}
        	@if(newsPage < NewsBlock.getChunkBeg(NewsUtils.numberOfPages)){
        		<a id="news_page_next" href=@NewsHrefUtils.buildHrefForNextChunk(calendarMonthOffset, newsPage, NewsUtils.numberOfPages)>
        			...
        		</a>
        		<a href=@NewsHrefUtils.buildHref(calendarMonthOffset, NewsUtils.numberOfPages)>@NewsUtils.numberOfPages</a>
        	}
        </div>
} 