@* schedule Template File *@
@(param: Any)

@main("Расписание", "schedule.css") {
    <div id="schedule" class="center">
    <h1 style="text-align: center;">
	<span style="color:#0000ff;">Детская группа</span></h1>
    
    	<table class="center">
    		<th colspan="8">
    			РАСПИСАНИЕ ТРЕНИРОВОК
    		</th>
    		<tr>
    			<td>
    				Время / Дни
    			</td>
    			<td>
    				Пн
    			</td>
    			<td>
    				Вт
    			</td>
    			<td>
    				Ср
    			</td>
    			<td>
    				Чт
    			</td>
    			<td>
    				Пт
    			</td>
    			<td>
    				Сб
    			</td>
    			<td>
    				Вс
    			</td>
    		</tr>
    		<tr>
    			<td>
    				10:00-10:45
    			</td>
    			<td>
    				
    			</td>
    			<td>
    				<div class="hall">
    					ЗАЛ
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				11:00-11:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				11:45-12:30
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<td>
    				16:15-17:00
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				
    			</td>
    		</tr>
    		<tr>
    			<td>
    				17:15-18:00
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="hall">
    					ЗАЛ
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>

    			</td>
    		</tr>
    		<tr>
    			<td>
    				18:00-18:45
    			</td>
    			<td>
    				<div class="hall">
    					ЗАЛ
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				18:15-19:00
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				19:00-19:45
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="hall">
    					ЗАЛ
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				20:00-20:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    				
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    	</table>
    </div>
}