@* schedule Template File *@
@(param: Any)

@main("Расписание", "schedule.css") {
    <div id="schedule" class="center">
    	<table class="center">
    		<th colspan="8">
    			РАСПИСАНИЕ ТРЕНИРОВОК (ВЗРОСЛЫЕ)
    		</th>
    		<tr>
    			<td>
    				Время / Дни
    			</td>
    			<td>
    				Пн
    			</td>
    			<td>
    				Вт
    			</td>
    			<td>
    				Ср
    			</td>
    			<td>
    				Чт
    			</td>
    			<td>
    				Пт
    			</td>
    			<td>
    				Сб
    			</td>
    			<td>
    				Вс
    			</td>
    		</tr>
    		<tr>
    			<td>
    				10:45-11:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				ЛЁД
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				11:45-12:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				ЛЁД
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				13:00-13:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				ЛЁД
    			</td>
    		</tr>
    		<tr>
    			<td>
    				13:45-14:30
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				ФЕЕРИЯ
    			</td>
    		</tr>
    		<tr>
    			<td>
    				15:45-16:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				ЛЁД
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				17:00-18:00
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				ЗАЛ
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				18:45-19:30
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				ЗАЛ
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				20:00-21:00
    			</td>
    			<td>
    				ЛЁД
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				20:45-21:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				ЛЁД
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    	</table>
    	
    	<p></p>
    	<p>
    	ЗАЛ - 40 грн. (за 1 занятие)
    	</p>
    	<p>
    	ЛЁД - 90 грн. (за 1 занятие) 
    	</p>
    	<p>
    		Аренда коньков в стоимость занятия не входит.
    	</p>
    </div>
}