@* schedule Template File *@
@(calendarMonthOffset: Int = 0)

@main("Расписание", "schedule.css", new views.utils.CalendarInfo("/schedule", calendarMonthOffset)) {
    <div id="schedule" class="center">
    <h1 style="text-align: center;">
	<span style="color:#0000ff;">Взрослая группа</span></h1>
    
    	<table class="center">
    		<th colspan="8">
    			РАСПИСАНИЕ ТРЕНИРОВОК
    		</th>
    		<tr>
    			<td>
    				Время / Дни
    			</td>
    			<td>
    				Пн
    			</td>
    			<td>
    				Вт
    			</td>
    			<td>
    				Ср
    			</td>
    			<td>
    				Чт
    			</td>
    			<td>
    				Пт
    			</td>
    			<td>
    				Сб
    			</td>
    			<td>
    				Вс
    			</td>
    		</tr>
    		<tr>
    			<td>
    				10:45-11:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				11:45-12:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				13:00-13:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<td>
    				13:45-14:30
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="extravaganza">
    					ФЕЕРИЯ
    				</div>
    			</td>
    		</tr>
    		<tr>
    			<td>
    				15:45-16:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				17:00-18:00
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="hall">
    					ЗАЛ
    				</div>
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				18:45-19:30
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="hall">
    					ЗАЛ
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				20:00-21:00
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    		<tr>
    			<td>
    				20:45-21:45
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    				<div class="ice">
    					ЛЁД
    				</div>
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    			<td>
    			
    			</td>
    		</tr>
    	</table>
    	
    	<p></p>
    	<p>
    	ЗАЛ - 40 грн. (за 1 занятие)
    	</p>
    	<p>
    	ЛЁД - 90 грн. (за 1 занятие) 
    	</p>
    	<p>
    		Аренда коньков - 10 грн.
    	</p>
    </div>
}