@* videos Template File *@
@(calendarMonthOffset: Int = 0)

@main("Видео", "videos.css", new views.utils.CalendarInfo("/videos", calendarMonthOffset)) {
    <div id="track_1" class="track">
    	<iframe src="https://www.youtube.com/embed/4dpD5SoVXSk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="track_2" class="track">
    	<iframe src="https://www.youtube.com/embed/V8T9l67lNFc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="track_3" class="track">
    	<iframe src="https://www.youtube.com/embed/2BmwD_9amak" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="track_4" class="track">
    	<iframe src="https://www.youtube.com/embed/PUFV3f7lkG8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="track_5" class="track">
    	<iframe src="https://www.youtube.com/embed/dmS7HosLEmk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="track_6" class="track">
    	<iframe src="https://www.youtube.com/embed/QcE-YxUWZBw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="track_7" class="track">
    	<iframe src="https://www.youtube.com/embed/1hOUQcctcmQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="track_8" class="track">
    	<iframe src="https://www.youtube.com/embed/9Zubt5pFAVM" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="track_9" class="track">
    	<iframe src="https://www.youtube.com/embed/kTNTmKF5w8M" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="track_10" class="track">
    	<iframe src="https://www.youtube.com/embed/fbXbogrHwMQ" frameborder="0" allowfullscreen></iframe>
    </div>
}