@* videos Template File *@
@(calendarMonthOffset: Int = 0)

@main("Видео", "videos.css", new views.utils.CalendarInfo("/videos", calendarMonthOffset)) {
	<div id="tracks_title" class="center">
		<h2 class="center">Дорожки шагов</h2>
	</div>
    <div id="track_1" class="track">
    	<iframe src="https://www.youtube.com/embed/4dpD5SoVXSk" allowfullscreen></iframe>
    </div>
    <div id="track_2" class="track">
    	<iframe src="https://www.youtube.com/embed/V8T9l67lNFc" allowfullscreen></iframe>
    </div>
    <div id="track_3" class="track">
    	<iframe src="https://www.youtube.com/embed/2BmwD_9amak" allowfullscreen></iframe>
    </div>
    <div id="track_4" class="track">
    	<iframe src="https://www.youtube.com/embed/PUFV3f7lkG8" allowfullscreen></iframe>
    </div>
    <div id="track_5" class="track">
    	<iframe src="https://www.youtube.com/embed/dmS7HosLEmk" allowfullscreen></iframe>
    </div>
    <div id="track_6" class="track">
    	<iframe src="https://www.youtube.com/embed/QcE-YxUWZBw" allowfullscreen></iframe>
    </div>
    <div id="track_7" class="track">
    	<iframe src="https://www.youtube.com/embed/1hOUQcctcmQ" allowfullscreen></iframe>
    </div>
    <div id="track_8" class="track">
    	<iframe src="https://www.youtube.com/embed/9Zubt5pFAVM" allowfullscreen></iframe>
    </div>
    <div id="track_9" class="track">
    	<iframe src="https://www.youtube.com/embed/kTNTmKF5w8M" allowfullscreen></iframe>
    </div>
    <div id="track_10" class="track">
    	<iframe src="https://www.youtube.com/embed/fbXbogrHwMQ" allowfullscreen></iframe>
    </div>
}